// _style.scss - Stores all the variables for the page //


// Fonts //
$default-font: var(--default-font) !global;
$secondary-font: var(--secondary-font) !global;

// Colors //
$background-color: rgb(0, 0, 0);
$on-background-color: rgb(255, 255, 255) !global;

// Borders // 
$border-radius: 1em;

// Animations //
// Fade in
@mixin fade-animation ($duration, $timing-function: ease-in-out, $delay: 0s, $iterations: 1, $fill-mode: forwards, $direction: normal ) {
    @keyframes fade-in {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }

    opacity: 0%;

    animation-name: fade-in;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}
// Fade in and out
@mixin fade-in-out-animation ($duration, $timing-function: ease-in-out, $delay: 0s, $iterations: 1, $fill-mode: forwards, $direction: normal) {
    @keyframes fadeIn {
        0% {
            opacity: 0%;
        }
        50% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }

    opacity: 0%;

    animation-name: fadeIn;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}
// Dissolve in
@mixin dissolve-in-fade-z-animation ($duration, $timing-function: ease-in-out, $delay: 0s, $iterations: 1, $fill-mode: forwards, $direction: normal) {
    @keyframes dissolve-in-fade-z {
        0% {
            filter: blur(1em);
            -webkit-filter: blur(1em);
            opacity: 0%;
            transform: translateY(-10%);
        }

        75% {
            opacity: 100%;
        }

        100% {
            filter: blur(0em);
            -webkit-filter: blur(0em);
            opacity: 100%;
            transform: translateY(-10%);
        }
    }

    filter: blur(2em);
    -webkit-filter: blur(2em);
    opacity: 0%;
    
    animation-name: dissolve-in-fade-z;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}
// Extend width
@mixin extend-width ($duration, $timing-function: ease-in-out, $delay: 0s, $iterations: 1, $fill-mode: forwards, $direction: normal) {
    @keyframes extend-width {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }

    width: 0%;
    
    animation-name: extend-width;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}