// global.scss //
@import "style";

body {
    font-family: $default-font;
    background-color: $background-color;
    color: $on-background-color;
}

#content {
    width: 100%;
    height: calc(100vh - 5.4em);
}