@import "./style";

@keyframes logo-appear {
    from {
        opacity: 0%;
        transform: translateY(50%);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

#layout {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 8vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    *:hover {
        cursor: pointer;
    }

    #logo-container {
        #logo {
            opacity: 0%;
            animation: logo-appear 0.5s ease-in-out 0s 1 forwards normal;
        }
    }

    #page-selection-container {
        display: flex;
        gap: 3vh;
        align-self: center;

        .page {
            text-decoration: none;
            color: $on-background-color;
            font-weight: 700;
            font-size: 1em;

            :hover {
                background-color: aqua;
            }
        }
    }
}