// _style.scss - Stores all the variables for the page //


// Fonts //
$default-font: var(--default-font) !global;

// Colors //
$background-color: rgb(0, 0, 0);
$on-background-color: rgb(255, 255, 255) !global;

// Borders // 
$border-radius: 1em;

// Animations //
// Fade in
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@mixin fade-animation ($duration, $timing-function: ease-in-out, $delay: 0, $iterations: 1, $fill-mode: forwards, $direction: normal ) {
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}
// Fade in and out
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@mixin fade-in-out-animation ($duration, $timing-function: ease-in-out, $delay: 0, $iterations: 1, $fill-mode: forwards, $direction: normal) {
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}
// Dissolve in
@keyframes dissolve-in-fade-z {
    0% {
        filter: blur(1em);
        -webkit-filter: blur(1em);
        opacity: 0%;
        transform: translateY(-10%);
    }

    75% {
        opacity: 100%;
    }

    100% {
        filter: blur(0em);
        -webkit-filter: blur(0em);
        opacity: 100%;
        transform: translateY(-10%);
    }
}

@mixin dissolve-in-fade-z-animation ($duration, $timing-function: ease-in-out, $delay: 0, $iterations: 1, $fill-mode: forwards, $direction: normal) {
    filter: blur(2em);
    -webkit-filter: blur(2em);
    opacity: 0%;
    
    animation-name: dissolve-in-fade-z;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iterations;
    animation-fill-mode: $fill-mode;
    animation-direction: $direction;
}