@import "style";

#splash-screen-container {
    background-color: $background-color;
    // background-color: aqua;
    height: calc(100vh - 1em);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;

    #splash-logo {
        width: 30%;
        height: 30%;
        @include fade-in-out-animation($duration: 1.4s, $delay: 0.2s);
    }
}